.error-container {
  text-align: center;
  padding: 20px;
  min-height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.error-heading {
  font-size: 36px;
  color: #0070ac;
}

.error-message {
  font-size: 18px;
  margin-top: 10px;
  color: #333;
}

.error-image {
  width: 100px;
}
