.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  margin-top: 20px;
  margin-left: 20px;
}

.signout {
  margin-top: 20px;
  margin-right: 20px;
  display: flex;
  justify-content: flex-end;
}