h1 {
  color: #0070ac;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.table-bread {
  margin: 0px 0px 0px 10px;
}

.btn {
  display: flex;
  margin: 10px 10px 0px 0px
}

.btn button {
  margin-left: 10px;
}

.table hr {
  margin-top: 12px;
}

.dropdown-filter {
  width: 110px;
}

.table-main {
  margin: 10px;
}

.pagination {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-top: 10px;
}

.pagination span {
  margin-right: 20px;
}