.app {
  margin: 20px;
  border: 2px solid #f4f4f4;
}

a {
  text-decoration: none;
  color: #0070ac;
}

hr {
  background: #0070ac;
  height: 1px;
}

label {
  font-weight: bold;
}

.bread {
  margin-left: 10px;
}