@import 'variables';

.app {
  border: 2px solid $border-color;
  background-color: $app-bg-color;
  padding: 10px;
  height: 605px;

  a {
    text-decoration: none;
    color: $ensar-blue;
  }

  hr {
    background: $ensar-blue;
    height: 1px;
  }

  label {
    font-weight: $label-font-weight;
  }
}

.bread {
  margin-left: 10px;
}

.home {
  display: flex;
}

.content {
  width: 100%;
}
